<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="{{ path('home') }}">SnowTricks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path("home") }}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path("tricks_show") }}">Liste des tricks</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a href="{{ path("tricks_add") }}" class="nav-link">Ajouter un trick</a>
                </li>
            {% endif %}
        </ul>


            <ul class="navbar-nav">
                {% if app.user is null %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path("account_login") }}">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path("account_register") }}" class="nav-link">Register</a>
                    </li>
                {% elseif app.user %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="{{ asset(app.user.picture) }}" alt="Photo de profil de {{ app.user.fullName }}" class="profile-micro">
                            Mon compte
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{{ path('user_profile', {'id': app.user.id }) }}">Mon profile</a>
                            <a class="dropdown-item" href="{{ path('account_update_password') }}">Modifier mon mot de passe</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('account_logout') }}">Se déconnecter</a>
                        </div>
                    </li>
                {% endif %}
            </ul>
        </ul>
    </div>
</nav>