<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3">
    <div class="card card-tricks mb-3">
        <img class="card-img-top" src="{{ asset(trick.Mainimage) }}" alt="{{ trick.name }}">
        <div class="card-body">
            <div class="card-link text-center">
                <a  class="btn btn-outline-primary mt-3" href="{{ path("tricks_display", {id : trick.id }) }}" >{{ trick.name }}</a>
            </div>
            {% if app.user %}
                <div class="mt-1 text-center">
                    <a href="{{ path("tricks_update", {'id' : trick.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ path("tricks_delete", {'id': trick.id}) }}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            {% endif %}
        </div>

    </div>
</div>