{% extends "base.html.twig" %}

{% block title %}{{ tricks.name }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <p>{{ tricks.name }}</p>
                <p>{{ tricks.description }}</p>
                <p>Créer le {{ tricks.createdAt|date('d/m/Y à H:i') }}</p>
                {% if tricks.updatedAt %}
                <p>Modifier le {{ tricks.updatedAt|date('d/m/Y à H:i') }}</p>
                {% endif %}
            </div>
            <div class="col">
                <img src="{{ asset(tricks.image) }}" alt="Image de {{ tricks.name }}" class="img-thumbnail">
                {% if tricks.video %}
                    <iframe width="420" height="315"
                            src="{{ asset(tricks.video) }}">
                    </iframe>
                {% endif %}
            </div>
        </div>

        <h2 class="h3">Commentaires</h2>
        <div class="row">
                {% for comment in comments %}
                <div class="col-12">
                    <div class="card border-secondary mb-3">
                        <div class="card-header">
                            <img src="{{ asset(comment.author.picture) }}" alt="Photo de profil" class="avatar-micro">
                            {{ comment.author.firstName }} {{ comment.author.lastName }}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ comment.content }}</p>
                            <p>{{ comment.date|date('d/m/Y') }}</p>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
        </div>
        {% if app.user %}
        <h3>Ecrire un commentaire</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(form) }}
        {% endif %}
    </div>

{% endblock %}