{% extends "base.html.twig" %}

{% block title %}{{ tricks.name }}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <p>
                    {{ tricks.name }}
                    {% if app.user %}
                    <a href="{{ path("tricks_update", {'id' : tricks.id}) }}">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a href="{{ path("tricks_delete", {'id': tricks.id}) }}">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                    {% endif %}
                </p>
                <p>{{ tricks.description }}</p>
                <p>Créer le {{ tricks.createdAt|date('d/m/Y à H:i') }}</p>
                {% if tricks.updatedAt %}
                <p>Modifier le {{ tricks.updatedAt|date('d/m/Y à H:i') }}</p>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a href="{{ asset(tricks.mainimage) }}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                    <img src="{{ asset(tricks.mainimage) }}" class="img-fluid rounded" width="250" height="350">
                </a>
            </div>
            {% for image in tricks.images %}
                <div class="col">
                    <a href="{{ asset(image.path) }}" data-toggle="lightbox" data-gallery="gallery" class="col-md-4">
                        <img src="{{ asset(image.path) }}" class="img-fluid rounded" width="250" height="350">
                    </a>
                </div>
            {% endfor %}
            {% for video in tricks.videos %}
                <div class="col">
                    <iframe width="420" height="315" src="{{ video.video }}" frameborder="0" allowfullscreen=""></iframe>
                </div>
            {% endfor %}
        </div>


        <h2 class="h3">Commentaires</h2>
        <div class="row">
                {% for comment in comments %}
                <div class="col-12">
                    <div class="card border-secondary mb-3">
                        <div class="card-header">
                            <img src="{{ asset(comment.author.picture) }}" alt="Photo de profil" class="avatar-micro">
                            {{ comment.author.firstName }} {{ comment.author.lastName }}
                        </div>
                        <div class="card-body">
                            <p class="card-text">{{ comment.content }}</p>
                            <p>{{ comment.date|date('d/m/Y') }}</p>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
        </div>
        {% if app.user %}
        <h3>Ecrire un commentaire</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
            <button type="submit" class="btn btn-success">Envoyer</button>
        {{ form_end(form) }}
        {% endif %}
    </div>

{% endblock %}

{% block stylesheets %}
    <link href ="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css" rel = "stylesheet" crossorigin="anonymous">
{% endblock %}

{% block javascripts %}
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js" crossorigin="anonymous"></script>

    <script>
        $(document).on("click", '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>

{% endblock %}