{% extends 'base.html.twig' %}

{% block title %}Page de profile de {{ user.fullName }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="h4 mb-5">{{ user.fullName }}</h1>
                {% if user.introduction is not empty %}
                <p>{{ user.introduction }}</p>
                {% else %}
                <p>Pas d'introduction. Veuillez en ajouter une.</p>
                {% endif %}
            </div>
            <div class="col">
                <img src="{{ asset(user.picture) }}" alt="Image de {{ user.firstName }} {{ user.lastName }}" class="img-thumbnail mb-5">
                <p>Adresse email : <br>
                    {{ user.email }}</p>
            </div>
        </div>
        <div class="row">
            {% if app.user.id == app.request.attributes.get('id') %}
                <a href="{{ path("account_update") }}" class="btn btn-success">Modifier le profile</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
